<h1>Edit Column</h1>
<%= form_with model: @column, local: true do |f| %>
  <div>
    <h3><%= f.label :name %></h3>
    <h3><%= f.text_field :name %></h3>
  </div>
  <div>
    <%= f.label :table_id, "Select Table" %>
    <%= f.select :table_id, options_from_collection_for_select(@tables, :id, :name, @column.table_id) %>
  </div>
  <div>
    <h3><%= f.submit "Update"%></h2>
    <h3><%= link_to "Back", columns_path %></h2>
  </div>
<% end %>
