<h1>New Column</h1>
<%= form_with model: @column, local: true do |f| %>
  <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <%= f.label :table_id, "Select Table" %>
  <%= f.select :table_id, options_from_collection_for_select(@tables, :id, :name, @column.table_id) %>
  <div>
    <%= f.submit "Create"%>
  </div>
<% end %>
