<h1>New Column</h1>
<%= form_with model: @column, local: true do |f| %>
  <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div>
    <%= f.hidden_field :column_id, :value => current_user.id %>
  </div>
  <div>
    <%= f.submit "Create"%>
  </div>
<% end %>
