<h1>New Table</h1>
<%= form_with model: @table, local: true do |f| %>
  <div>
    <%= f.label :name, class: "field-text"%>
    <%= f.text_field :name, class: "field"
 %>
  </div>
  <div>
    <%= f.hidden_field :user_id, :value => current_user.id %>
  </div>
  <div>
    <%= f.submit "Create", class: "link create-link, submit-button"%>
  </div>
<% end %>
