<h1>New Table</h1>
<%= form_with model: @table, local: true do |f| %>
  <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div>
    <%= f.hidden_field :user_id, :value => current_user.id %>
  </div>
  <div>
    <%= f.submit "Create"%>
  </div>
<% end %>
