<!DOCTYPE html>
<html>
  <head>
    <title>Taskini</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tables", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body>
    <header>
      <h1 class="title">TASKINI</h1>
      <div buttons-box>
        <% if user_signed_in? %>
          <div class="logout-box"></div>
          <%= button_to 'Logout', destroy_user_session_path, method: :delete, class: "btn-logout" %>
        <% else %>
          <%= link_to 'Sign up', new_user_registration_path, class: "link create-link"  %>
          <%= link_to 'Log in', new_user_session_path,class: "link create-link" %>
        <% end %>
      </div>
      <p class="alert"><%= alert %></p>
    </header>
    <%= yield %>
  </body>
</html>
